<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>KIS LVS监控平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Load Flat ui JS here for greater good =============================-->
    <script src="/static/flat-ui/js/jquery-1.8.3.min.js"></script>
    <!-- <script src="/static/flat-ui/js/jquery-ui-1.10.3.custom.min.js"></script> -->
    <script src="/static/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/static/flat-ui/js/jquery.ui.touch-punch.min.js"></script>
    <script src="/static/bootstrap/bootstrap.min.js"></script>
    <script src="/static/bootstrap/bootstrap-validation.min.js"></script>
    <!-- <script src="/static/flat-ui/js/bootstrap.min.js"></script> -->
    <script src="/static/flat-ui/js/bootstrap-select.js"></script>
    <script src="/static/flat-ui/js/bootstrap-switch.js"></script>
    <script src="/static/flat-ui/js/flatui-checkbox.js"></script>
    <script src="/static/flat-ui/js/flatui-radio.js"></script>
    <script src="/static/flat-ui/js/jquery.tagsinput.js"></script>
    <script src="/static/flat-ui/js/jquery.placeholder.js"></script>
    <script src="/static/flat-ui/js/jquery.stacktable.js"></script>
    <script src="/static/flat-ui/js/application.js"></script>

    <!--Load chosen js -->
    <script src="/static/chosen/chosen.jquery.js"></script>
    <link href="/static/chosen/chosen.css" rel="stylesheet">
    
    <!-- Load jtemplates js -->
    <script src="/static/jquery-jtemplates/jquery-jtemplates.min.js"></script>

    <!-- Load Highcharts js-->
    <script src="/static/highcharts/highcharts.js"></script>
    <script src="/static/highcharts/exporting.js"></script>

    <!-- Loading js -->
    <script src="/static/loading/bgiframe.min.js"></script>
    <script src="/static/loading/loading.min.js"></script>

    <!-- jquerytojson-->
    <script src="/static/jquery.json-2.4.min.js"></script>

    <!-- bootbox.js -->
    <script src="/static/bootbox/bootbox.min.js"></script>

    <!-- nice_validation -->
    <script src="/static/nice_validation/jquery.validator.js"></script>
    <script src="/static/nice_validation/zh_CN.js"></script>
    <link href="/static/nice_validation/jquery.validator.css" rel="stylesheet">

    <!-- Loading dataTable-bootstrap js -->
    <script src="/static/dataTable-bootstrap/jquery.dataTables.js"></script>
    <link href="/static/dataTable-bootstrap/dataTable.bootstrap.css" rel="stylesheet">

    <!-- Loading Bootstrap -->
    <link href="/static/flat-ui/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="/static/jquery-ui-1.10.3.custom//css/ui-lightness/jquery-ui-1.10.3.custom.min.css" rel="stylesheet">
    <link href="/static/flat-ui/css/flat-ui.css" rel="stylesheet">
    <link href="/static/flat-ui/css/demo.css" rel="stylesheet">

    <!-- Loading css -->
    <link href="/static/loading/loading.css" rel="stylesheet">    

    <link rel="shortcut icon" href="images/favicon.ico">
 

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class='container'>
      <div class='row'>
        <div class='col-md-12'>
      <div class="navbar navbar-inverse">
      <div class="container">
          <div class="navbar-header">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"></a>
          </div>
          <span class="icon-bar"></span>
          
          <span class="icon-bar"></span>
          
          <span class="icon-bar"></span>
          <div class="nav-collapse ">
            <ul class="nav">
              <li><a href="/charts/">性能图表<span class="navbar-unread">1</span></a></li>
              <li><a href="/lvsmanager/">LVS管理</a></li>
              <li><a href="/lb_status/">LVS状态</a></li>
              <li><a href="/lvsreport/">LVS数据报表</a></li>
            </ul> 
            <ul class="nav pull-right">
              {% if  current_user %}
                <li><a href="/loginout">Logout</a></li>
              {% else %}
                <li><a href="#">欢迎,</a></li>
                <li><a href="#">请登录</a></li>
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
      </div>
      </div>
        </div>
      </div>
    </div>

  <div>{% block body %}{% endblock %}</div>

  </body>

    <!-- Load App.js -->

</html>
